# Build directories
build/
artifacts/

# IDE files
.vscode/
.idea/
*.suo
*.user
*.sdf
*.opensdf

# OS files
.DS_Store
Thumbs.db

# Dependencies
JUCE/

# Compiled plugins
*.vst3
*.component
*.pkg
*.exe

# Installer output
plugin/installer/windows/Output/